@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Suise';
    src: url('fonts/suisse-regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Suise';
    src: url('fonts/suisse-bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
  }